node_modules
.next
.git
.gitignore
*.md
.env*
!.env.example
.husky
coverage
.vscode
src/generated
.docker
*.log
vitest.config.ts
commitlint.config.js
release.config.cjs
eslint.config.mjs
src/__tests__
